@inject NavigationManager NavigationManager

<!-- NavMenu Radzen Version -->
<div style="flex:1; display:flex; flex-direction:column; height:100%;">
    <RadzenPanelMenu Style="flex:1; overflow:auto;">
        <RadzenPanelMenuItem Text="Menú" Icon="dashboard" Path="/">
            <RadzenPanelMenuItem Text="Inicio" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Categorías" Icon="category" Path="/categories" />
            <RadzenPanelMenuItem Text="Productos" Icon="shopping_cart" Path="/products" />
            <RadzenPanelMenuItem Text="Reparaciones" Icon="shopping_cart" Path="/repairs"/>
        </RadzenPanelMenuItem>
    </RadzenPanelMenu>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
